    <div id="left_box" >
    	<h2>Empower People.</h2>
    	<div id="slideshow" >
            <img src="/images/layout/pl-projects.jpg" width="700" height="320" />
            <img src="/images/layout/pl-contact.jpg" width="700" height="320" />
        	<img src="/images/layout/pl-home.jpg" width="700" height="320" />
            <img src="/images/layout/pl-about.jpg" width="700" height="320" />
            <img src="/images/layout/pl-history.jpg" width="700" height="320" />
        </div>       
    </div>

    <div id="right_box">
      	<h2>The Portable Light Project enables people in the developing world to create and own energy harvesting textiles, providing the benefits of renewable power as an integral part of everyday life.</h2>
      	<a href="/about">Learn More</a>
    </div>
    
   	<div id="menu-container">
    <div id="menu-item"><a class="menu-link" href="/">RECENT NEWS</a></div>
    <div id="about"><a class="menu-link" href="/about">ABOUT PL</a><br />
    	<div id="about-list">
            <a class="project-link" href="/about">PL MISSION</a>
            <a class="project-link" href="/history">PL HISTORY</a><br />
        </div>
    </div>
    <div id="menu-item"><a class="menu-link" href="/profiles">PROFILES</a></div>
    <div id="projects"><a class="menu-link-active" href="/projects">PROJECTS</a><br />
    	<div id="project-list">
        	<a href="/projects" class="project-link">PROJECT MAP</a>
        	<a href="/brazil" class="project-link">PL BRAZIL</a>
        	<a href="/haiti" class="project-link">PL HAITI</a>
        	<a href="/kenya" class="project-link">PL KENYA</a>
        	<a href="/nicaragua" class="project-link-active">PL NICARAGUA</a>
        	<a href="/venezuela" class="project-link">PL VENEZUELA</a>
        	<a href="/southafrica" class="project-link">PL SOUTH AFRICA</a>
        	<a href="/mexico07" class="project-link">PL MEXICO 2007</a>
        	<a href="/mexico06" class="project-link">PL MEXICO 2006</a><br />
        </div>
    </div>
    <div id="menu-item"><a class="menu-link" href="/contact">CONTACT</a></div>
    </div>

<!-- PROJECTS > NICARAGUA PAGE updated last on 2012-07-25 -->

	<div id="left_col">
		<div id="project-gallery-output">
		<div id="img1"><img src="/images/layout/pl_nicaragua-composite2.jpg" /><p>Conservation work to measure sea turtle nests. Red light adaptor used when turtles are nesting.<br /><span class="photo-credit">Photo credit: PL Team.</span></p></div>
		<div id="img2"><img src="/images/layout/pl_nicaragua-composite3.jpg" /><p>Using the PL unit at home. Rangers prepare for conservation work at night.<br /><span class="photo-credit">Photo credit: PL Team</span></p></div>
        <div id="img3"><img src="/images/layout/pl_nicaragua-composite1.jpg" /><p>Rangers charging the PL kits while working on the coast. Girls in the local Paso Pacifico education program.<br /><span class="photo-credit">Photo credit: Paso Pacifico.</span></p></div>
		</div>
 
		<div id="project-gallery-nav">
		<span>See more: </span>
		<a class="gallery-link active" rel="img1" href="javascript:;">1</a>
		<a class="gallery-link active" rel="img2" href="javascript:;">2</a>
		<a class="gallery-link active" rel="img3" href="javascript:;">3</a>
		</div>
		
    	<img src="/images/layout/pl_nicaragua-sq.jpg" />
        <p>Using Portable Light at home for school work.<br /><span class="photo-credit">Photo credit: PL Team.</span></p>
	</div>

    <div id="right_col">
      <h2>PORTABLE LIGHT NICARAGUA</h2>
      <p>In partnership with NGO Paso Pacifico, the Portable Light Project supports coastal conservation work by women in rural coastal villages along Paso del Istmo Biological Corridor in Nicaragua. This important pathway for wildlife provides nesting grounds for endangered sea turtles.  Rural villagers in this economically depressed region have had to poach sea turtle eggs in order to earn income.  Paso Pacifico provides education programs, and employs villagers as conservation rangers to prevent poaching.  Women  increase household incomes through conservation work and the development of eco-tourism. The Portable Light team worked closely with Paso Pacifico to develop a solar textile lantern that can stand alone or be attached onto a conservation tool bag, made locally by campesinas.
      </p>
      <p>
During the daytime, the flexible photovoltaic harvests energy from sunlight. At night, the LED light can switch from white to red so rangers can walk the beaches without disturbing the sea turtles. Each bag has the ability to charge a cell phone, which allows rangers to communicate with each other, photograph nests and upload information.  The detachable textile lantern enables women to have light to study at home and train as conservation rangers. The Paso Pacifico PL bags preserve the biodiversity of the regional ecosystem while providing education and income for women.
	  </p>
	  <p>See how PL is being used to support conservation work through Paso Pacifico<a href="http://www.pasopacifico.org/turtle-rangers">here.</a></p>
	  

	  <h2>USER PROFILE</h2>
      <a class="fancybox" rel="gallery" href="/images/profiles/profile7-large.jpg"><img src="/images/profiles/profile7-thumb.jpg" /></a>
      <P>Environmental Educator<br /><a href="/images/downloads/PL-PROFILE-ENVIRONMENTAL-EDUCATOR.pdf">Download PDF</a></P>
      
      <h2>PARTNER LINKS</h2>
      <p><a href="http://www.kvarch.net/" rel="external">KVA MATx</a></p>
      <p><a href="http://www.pasopacifico.org/" rel="external">Paso Pacifico</a></p>
    </div>