    <div id="left_box" >
    	<h2>Empower People.</h2>
    	<div id="slideshow" >
            <img src="/images/layout/pl-projects.jpg" width="700" height="320" />
            <img src="/images/layout/pl-contact.jpg" width="700" height="320" />
        	<img src="/images/layout/pl-home.jpg" width="700" height="320" />
            <img src="/images/layout/pl-about.jpg" width="700" height="320" />
            <img src="/images/layout/pl-history.jpg" width="700" height="320" />
        </div>       
    </div>

    <div id="right_box">
      	<h2>The Portable Light Project enables people in the developing world to create and own energy harvesting textiles, providing the benefits of renewable power as an integral part of everyday life.</h2>
      	<a href="/about">Learn More</a>
    </div>
    
   	<div id="menu-container">
    <div id="menu-item"><a class="menu-link" href="/">RECENT NEWS</a></div>
    <div id="about"><a class="menu-link" href="/about">ABOUT PL</a><br />
    	<div id="about-list">
            <a class="project-link" href="/about">PL MISSION</a>
            <a class="project-link" href="/history">PL HISTORY</a><br />
        </div>
    </div>
    <div id="menu-item"><a class="menu-link" href="/profiles">PROFILES</a></div>
    <div id="projects"><a class="menu-link-active" href="/projects">PROJECTS</a><br />
    	<div id="project-list">
        	<a href="/projects" class="project-link">PROJECT MAP</a>
        	<a href="/brazil" class="project-link">PL BRAZIL</a>
        	<a href="/haiti" class="project-link">PL HAITI</a>
        	<a href="/kenya" class="project-link">PL KENYA</a>
        	<a href="/nicaragua" class="project-link">PL NICARAGUA</a>
        	<a href="/venezuela" class="project-link">PL VENEZUELA</a>
        	<a href="/southafrica" class="project-link">PL SOUTH AFRICA</a>
        	<a href="/mexico07" class="project-link">PL MEXICO 2007</a>
        	<a href="/mexico06" class="project-link-active">PL MEXICO 2006</a><br />
        </div>
    </div>
    <div id="menu-item"><a class="menu-link" href="/contact">CONTACT</a></div>
    </div>

<!-- PROJECTS > MEXICO-06 / mexicoa PAGE updated last on 2012-07-24 -->

	<div id="left_col">
		<div id="project-gallery-output">
		<div id="img1"><img src="/images/layout/pl_mexico-06-composite1.jpg" /><p>Arrival of PL Flex kits in the Sierra Madre. Children with PL woven bag. Distribution of PL kits with Centro Huichol.<br /><span class="photo-credit">Photo credit: PL Team.</span></p></div>
		<div id="img2"><img src="/images/layout/pl_mexico-06-composite2.jpg" /><p>PL textiles charging in the Sierra Madre. PL textiles at a community corn storage building.<br /><span class="photo-credit">Photo credit: PL Team.</span></p></div>
		</div>
 
		<div id="project-gallery-nav">
		<span>See more: </span>
		<a class="gallery-link active" rel="img1" href="javascript:;">1</a>
		<a class="gallery-link active" rel="img2" href="javascript:;">2</a>
		</div>

    	<img src="/images/layout/pl_mexico-06-sq.jpg" />
        <p>A Huichol man tests the PL USB charging prototype.<br /><span class="photo-credit">Photo credit: PL Team.</span></p>
        
    </div>

    <div id="right_col">
      <h2>PORTABLE LIGHT MEXICO</h2>
      <p>Project text coming soon!</p>
	  
	  <h2>USER PROFILE</h2>
      <a class="fancybox" rel="gallery" href="/images/profiles/profile6-large.jpg"><img src="/images/profiles/profile6-thumb.jpg" /></a>
      <P>Nomadic Artisan<br /><a href="/images/downloads/PL-PROFILE-NOMADIC-ARTISAN.pdf">Download PDF</a></P>
      
      
      <h2>PARTNER LINKS</h2>
      <p><a href="http://www.kvarch.net/" rel="external">KVA MATx</a></p>
      <p><a href="http://www.centrohuichol.com/" rel="external">Centro Huichol</a></p>
    </div>
