    <div id="left_box" >
    	<h2>Empower People.</h2>
    	<div id="slideshow" >
            <img src="/images/layout/pl-history.jpg" width="700" height="320" />
            <img src="/images/layout/pl-projects.jpg" width="700" height="320" />
            <img src="/images/layout/pl-contact.jpg" width="700" height="320" />
        	<img src="/images/layout/pl-home.jpg" width="700" height="320" />
            <img src="/images/layout/pl-about.jpg" width="700" height="320" />
        </div>       
    </div>

    <div id="right_box">
      	<h2>The Portable Light Project enables people in the developing world to create and own energy harvesting textiles, providing the benefits of renewable power as an integral part of everyday life.</h2>
      	<a href="/about">Learn More</a>
    </div>
    
   	<div id="menu-container">
    <div id="menu-item"><a class="menu-link" href="/">RECENT NEWS</a></div>
    <div id="about"><a class="menu-link-active" href="/about">ABOUT PL</a><br />
    	<div id="about-list">
            <a class="project-link" href="/about">PL MISSION</a>
            <a class="project-link-active" href="/history">PL HISTORY</a><br />
        </div>
    </div>
    <div id="menu-item"><a class="menu-link" href="/profiles">PROFILES</a></div>
    <div id="projects"><a class="menu-link" href="/projects">PROJECTS</a><br />
    	<div id="project-list">
        	<a href="/projects" class="project-link">PROJECT MAP</a>
        	<a href="/brazil" class="project-link">PL BRAZIL</a>
        	<a href="/haiti" class="project-link">PL HAITI</a>
        	<a href="/kenya" class="project-link">PL KENYA</a>
        	<a href="/nicaragua" class="project-link">PL NICARAGUA</a>
        	<a href="/venezuela" class="project-link">PL VENEZUELA</a>
        	<a href="/southafrica" class="project-link">PL SOUTH AFRICA</a>
        	<a href="/mexico07" class="project-link">PL MEXICO 2007</a>
        	<a href="/mexico06" class="project-link">PL MEXICO 2006</a><br />
        </div>
    </div>
    <div id="menu-item"><a class="menu-link" href="/contact">CONTACT</a></div>
    </div>
	
<!-- HISTORY PAGE update last on 2012-07-24 -->

	<div id="left_col">
    <a href="http://archive.portablelight.org/" rel="external"><img src="/images/layout/history-image.jpg" /></a>
      <h2>HOW PORTABLE LIGHT BEGAN</h2>
      <p>The Portable Light project began with a question, a prototype and a vision. What if light and energy were dissolved into a portable textile? Physically flexible and conceptually supple, this soft infrastructure could shift shape and adapt itself to textile practices in diverse cultures around the world.  In 2004, the first Light Mat prototypes were created and in 2005, the project was launched.  As the Saarinen Professors at the University of Michigan, KVA Matx Principals Sheila Kennedy and Juan Frano Violich led a group of students in a design studio/workshop that explored four energy harvesting textile designs. The studio travelled to the Sierra Madre in Mexico, and presented their findings to Wixarika community leaders, in collaboration with the NGO Centro Huichol. The positive reception, insights and advice led to many engineering revisions and new design directions over the years as the Portable Light Project has been serving communities in the Sierra Madre since 2006.  
 		</p>
        
		<p>Today, The Portable Light Project is a non-profit research and design initiative established by KVA Matx that includes designers, engineers, medical doctors, policy makers, community leaders and anthropologists. The Portable Light Project works with NGO partners, foundations and business leaders with projects underway in Haiti, Mexico, Nicaragua, Brazil (Amazon), Venezuela (Amazon) and South Africa.</p>
      <p>To visit our old site and take an interactive flash tour of the project&rsquo;s research and development over the last few years <a href="http://archive.portablelight.org/" rel="external">click here.</a></p>
    </div>

    <div id="right_col">      
      <h2>NEWS ARCHIVE</h2>
      	<p><b>2012</b><br />
     	<a href="http://theglobaljournal.net/article/view/771/" rel="external">The Global Journal / Let There Be (Portable) Light</a><br />        
     	<a href="http://http://thetechawards.thetech.org/the-laureates/stories/1455" rel="external">The Tech Awards / The Portable Light Project</a>
     	<a href="http://mashable.com/2012/06/06/portable-light-project/" rel="external">Mashable / Portable Light Brings Cheap Energy to Developing World</a><br />
     	<a href="http://http://theglobaljournal.net/article/view/538/" rel="external">The Global Journal / #84 - Portable Light Project</a><br />
     	<a href="http://challenge.bfi.org/2012Semi_Finalist_PortableLight" rel="external">The Buckminster Fuller Challange / 2012 Semi-Finalist Portable Light</a>
        </p>
      	
        <p><b>2011</b><br />
     	<a href="http://archive.cooperhewitt.org/other90/other90.cooperhewitt.org/Design/sierra-portable-light-mat-and-workshop-lantern.html" rel="external">Design for the Other 90% / Sierra Portable Light Project</a><br />
     	<a href="http://www.guardian.co.uk/environment/2011/apr/26/solar-textiles-remote-villages" rel="external">The Guardian / Solar Textiles Bring Light to Remote Villages</a><br />
     	<a href="http://www.iadb.org/en/projects/project,1303.html?id=BR-T1198" rel="external">Inter-American Development Bank / BR-T1198 : Portable Light Project Brazil</a>
        </p>
        
      	<p><b>2010</b><br />
     	<a href="http://www.smartplanet.com/blog/pure-genius/portable-light-project-with-textiles-and-tech-artificial-illumination-for-the-world/3621" rel="external">SmartPlanet / Portable Light Project: With Textiles and Tech, Artificial Illumination for the World</a><br />
        </p>
      	
        <p><b>2009</b><br />
     	<a href="http://www.fastcompany.com/blog/sheila-kennedy/flap/inside-poptechs-solar-powered-bag-flap-joining-forces-portable-light-projec" rel="external">Fast Company / Inside PopTech's Solar-Powered Bag FLAP: Joining Forces With the Portable Light Project</a><br />
     	<a href="http://www.fastcompany.com/blog/erik-hersman/flap/inside-poptechs-solar-powered-bag-flap-testing-across-africa" rel="external">Fast Company / Inside PopTech's Solar-Powered Bag FLAP: Testing Across Africa</a><br />
     	<a href="http://www.treehugger.com/treehugger-radio/sheila-kennedy-and-the-portable-light-project.html" rel="external">Treehugger / Sheila Kennedy and the Portable Light Project</a><br />
     	<a href="http://sap.mit.edu/resources/portfolio/portable_light/" rel="external">MIT School of Architecture + Planning / Portable Light Project Wins International Award</a>
        </p>
		
        <p><b>2008</b><br />
     	<a href="http://web.mit.edu/newsoffice/2008/portable-light-0909.html" rel="external">MIT News / Kennedy's Portable Light Wins Tech Award</a>
        </p>
      	
        <p><b>2007</b><br />
     	<a href="http://talentoambiental.blogspot.com/2007/10/luz-porttil-tecido-sheila-kennedy.html" rel="external">Talento Ambiental / Luz Port&aacute;til</a>
        </p>
    </div>
