    <div id="left_box" >
    	<h2>Empower People.</h2>
    	<div id="slideshow" >
        	<img src="/images/layout/pl-home.jpg" width="700" height="320" />
            <img src="/images/layout/pl-about.jpg" width="700" height="320" />
            <img src="/images/layout/pl-history.jpg" width="700" height="320" />
            <img src="/images/layout/pl-projects.jpg" width="700" height="320" />
            <img src="/images/layout/pl-contact.jpg" width="700" height="320" />
        </div>       
    </div>
    
    <div id="right_box">
      	<h2>The Portable Light Project enables people in the developing world to create and own energy harvesting textiles, providing the benefits of renewable power as an integral part of everyday life.</h2>
      	<a href="/about">Learn More</a>
    </div>
    
   	<div id="menu-container">
    <div id="menu-item"><a class="menu-link-active" href="/">RECENT NEWS</a></div>
    <div id="about"><a class="menu-link" href="/about">ABOUT PL</a><br />
    	<div id="about-list">
            <a class="project-link" href="/about">PL MISSION</a>
            <a class="project-link" href="/history">PL HISTORY</a><br />
        </div>
    </div>
    <div id="menu-item"><a class="menu-link" href="/profiles">PROFILES</a></div>
    <div id="projects"><a class="menu-link" href="/projects">PROJECTS</a><br />
    	<div id="project-list">
        	<a href="/projects" class="project-link">PROJECT MAP</a>
        	<a href="/brazil" class="project-link">PL BRAZIL</a>
        	<a href="/haiti" class="project-link">PL HAITI</a>
        	<a href="/kenya" class="project-link">PL KENYA</a>
        	<a href="/nicaragua" class="project-link">PL NICARAGUA</a>
        	<a href="/venezuela" class="project-link">PL VENEZUELA</a>
        	<a href="/southafrica" class="project-link">PL SOUTH AFRICA</a>
        	<a href="/mexico07" class="project-link">PL MEXICO 2007</a>
        	<a href="/mexico06" class="project-link">PL MEXICO 2006</a><br />
        </div>
    </div>
    <div id="menu-item"><a class="menu-link" href="/contact">CONTACT</a></div>
    </div>
	
<!-- HOME PAGE updated last on 2012-07-24 -->

    <div id="left_col">
      <%= render :partial => '/posts/post', :collection => @posts %>
      <p><%= link_to "Previous News Posts", posts_path %></p>
    </div>

    <div id="right_col">
      <h2>WHAT IS PORTABLE LIGHT?</h2>
      <p>More than 2 billion people live without electricity, most in extreme poverty. The Portable Light Project creates new ways to provide renewable power in solar textiles that can be adapted to meet the needs of people in different cultures and global regions. Portable Light textiles with flexible solar materials and solid state lighting enable the world&#8217;s poorest people to create and own energy harvesting bags, blankets, and clothing using local materials and traditional weaving and sewing techniques in an open source model.</p>
      <p>Portable Light enables people in the developing world to benefit from flexible solar nano-technology and accelerates the movement to clean energy worldwide.</p>
	  <p><a href="/about">Learn More</a></p>

      <h2>SEE HOW THE LIGHT IS USED</h2>
        
        <p><a class="fancybox" rel="gallery" href="/images/profiles/profile7-large.jpg">Environmental Educator in Nicaragua</a></p>
        <p><a class="fancybox" rel="gallery" href="/images/profiles/profile9-large.jpg">Traveling Midwife in Rural Haiti</a></p>
       	<p><a class="fancybox" rel="gallery" href="/images/profiles/profile6-large.jpg">Nomadic Artisan in Sierra Madre Mexico</a></p>
        <p><a href="/profiles">See more</a></p>

    </div>
