    <div id="left_box" >
    	<h2>Empower People.</h2>
    	<div id="slideshow" >
            <img src="/images/layout/pl-projects.jpg" width="700" height="320" />
            <img src="/images/layout/pl-contact.jpg" width="700" height="320" />
        	<img src="/images/layout/pl-home.jpg" width="700" height="320" />
            <img src="/images/layout/pl-about.jpg" width="700" height="320" />
            <img src="/images/layout/pl-history.jpg" width="700" height="320" />
        </div>       
    </div>

    <div id="right_box">
      	<h2>The Portable Light Project enables people in the developing world to create and own energy harvesting textiles, providing the benefits of renewable power as an integral part of everyday life.</h2>
      	<a href="/about">Learn More</a>
    </div>
    
   	<div id="menu-container">
    <div id="menu-item"><a class="menu-link" href="/">RECENT NEWS</a></div>
    <div id="about"><a class="menu-link" href="/about">ABOUT PL</a><br />
    	<div id="about-list">
            <a class="project-link" href="/about">PL MISSION</a>
            <a class="project-link" href="/history">PL HISTORY</a><br />
        </div>
    </div>
    <div id="menu-item"><a class="menu-link" href="/profiles">PROFILES</a></div>
    <div id="projects"><a class="menu-link-active" href="/projects">PROJECTS</a><br />
    	<div id="project-list">
        	<a href="/projects" class="project-link">PROJECT MAP</a>
        	<a href="/brazil" class="project-link">PL BRAZIL</a>
        	<a href="/haiti" class="project-link">PL HAITI</a>
        	<a href="/kenya" class="project-link-active">PL KENYA</a>
        	<a href="/nicaragua" class="project-link">PL NICARAGUA</a>
        	<a href="/venezuela" class="project-link">PL VENEZUELA</a>
        	<a href="/southafrica" class="project-link">PL SOUTH AFRICA</a>
        	<a href="/mexico07" class="project-link">PL MEXICO 2007</a>
        	<a href="/mexico06" class="project-link">PL MEXICO 2006</a><br />
        </div>
    </div>
    <div id="menu-item"><a class="menu-link" href="/contact">CONTACT</a></div>
    </div>

<!-- PROJECTS > KENYA PAGE updated last on 2012-07-25 -->

	<div id="left_col">
		<div id="project-gallery-output">
		<div id="img1"><img src="/images/layout/pl_kenya-composite1.jpg" /><p>Designer and tailor make FLAP bag designs. Joseph Muteti's solar bag design.<br /><span class="photo-credit">Photo credit: Eric Hersman.</span></p></div>
		<div id="img2"><img src="/images/layout/pl_kenya-composite4.jpg" /><p>Dominic's solar vest designs for BodaBoda operators.<br /><span class="photo-credit">Photo credit: Dominic Wanjihia.</span></p></div>
		</div>
 
		<div id="project-gallery-nav">
		<span>See more: </span>
		<a class="gallery-link active" rel="img1" href="javascript:;">1</a>
		<a class="gallery-link active" rel="img2" href="javascript:;">2</a>
		</div>

    	<img src="/images/layout/pl_kenya-sq.jpg" />
		<p>One of the many moto drivers outside Nairobi.<br /><span class="photo-credit">Photo credit: FLAP Bag, Timbuk2.</span></p>
		</div>

    <div id="right_col">
      <h2>PORTABLE LIGHT KENYA</h2>
      <p>The Portable Light FLAP bag (Flexible Light and Power) is a solar textile kit in a rugged messenger bag designed by the PL team and created in collaboration with Timbuk2 and the PopTech network.  The PL team design makes best use of the most flexible part of the bag, it&rsquo;s front flap.  Slung across the back, the FLAP bag generates energy quickly via a flexible thin-film solar panel. The messenger bag&rsquo;s front flap is detachable, and folds to transforms itself into a standing reflective lantern with a high brightness LED.
      </p>
      <p>Our friend, Erik Hersman, a Founder of Ushahidi, took a set of Portable Light solar kits and FLAP bag patterns on his travels through Ghana, Kenya and Uganda. His questions: Is portable solar power practical in Africa? If tailors, electricians and fabricators had access to Portable Light kits what local designs would they create?  In Nairobi, a young Kenyan designer, Stephen Omello an experienced tailor, Joseph Muteti adapted the FLAP principles in their own bags.  Dominic Wanjihia, an African innovator was awarded a PL kit at the Maker Faire in Accra. His proposal to adapt the PL kit in a wearable solar vest for BodaBoda operators engages a large market of over 1,500,000 conductors in Kenya alone. BodaBoda (&ldquo;border to border&rdquo;) is a popular means of transport by bicycle or motor scooter across the no man&rsquo;s land between borders. BodaBoda transport avoids getting stuck in traffic and is used by people of all walks of life from school children, market goers, workers, to business persons. The BodaBoda rider relies greatly on his mobile phone for clients and his peak cycling times are early morning, lunch hour and dusk as clients commute from school and work. Read more about Dominic&rsquo;s market argument for the PL kit in a Wearable Solar Vest <a href="http://www.afrigadget.com/category/flap-bag-project/" rel="external">here.</a>
      </p>
      <p>
The BodaBoda conductor is not the only potential user of Dominic&rsquo;s PL kit adaptation. The farmer, fisherman, peddler, collector, city council outdoor worker, tourist, and camper all spend long hours outdoors in the sun.
      </p>
	  
      <h2>USER PROFILE</h2>
      <a class="fancybox" rel="gallery" href="/images/profiles/profile11-large.jpg"><img src="/images/profiles/profile11-thumb.jpg" /></a>
      <p>Citizen Journalist<br /><a href="/images/downloads/PL-PROFILE-CITIZEN-JOURNALIST.pdf">Download PDF</a></p>
      
      <h2>PARTNER LINKS</h2>
      <p><a href="http://www.kvarch.net/" rel="external">KVA MATx</a></p>
	  <p><a href="http://poptech.org/" rel="external">PopTech</a></p>
	  <p><a href="http://www.timbuk2.com/" rel="external">Timbuk2</a></p>
	  <p><a href="http://ushahidi.com/" rel="external">Ushahidi</a></p>
    </div>
