    <div id="left_box" >
    	<h2>Empower People.</h2>
    	<div id="slideshow" >
            <img src="/images/layout/pl-about.jpg" width="700" height="320" />
            <img src="/images/layout/pl-history.jpg" width="700" height="320" />
            <img src="/images/layout/pl-projects.jpg" width="700" height="320" />
            <img src="/images/layout/pl-contact.jpg" width="700" height="320" />
        	<img src="/images/layout/pl-home.jpg" width="700" height="320" />
        </div>       
    </div>

    <div id="right_box">
      <h2>The Portable Light Project enables people in the developing world to create and own energy harvesting textiles, providing the benefits of renewable power as an integral part of everyday life.</h2>
      <a href="/about">Learn More</a>
    </div>
    
   	<div id="menu-container">
    <div id="menu-item"><a class="menu-link" href="/">RECENT NEWS</a></div>
    <div id="about"><a class="menu-link-active" href="/about">ABOUT PL</a><br />
    	<div id="about-list">
            <a class="project-link-active" href="/about">PL MISSION</a>
            <a class="project-link" href="/history">PL HISTORY</a><br />
        </div>
    </div>
    <div id="menu-item"><a class="menu-link" href="/profiles">PROFILES</a></div>
    <div id="projects"><a class="menu-link" href="/projects">PROJECTS</a><br />
    	<div id="project-list">
        	<a href="/projects" class="project-link">PROJECT MAP</a>
        	<a href="/brazil" class="project-link">PL BRAZIL</a>
        	<a href="/haiti" class="project-link">PL HAITI</a>
        	<a href="/kenya" class="project-link">PL KENYA</a>
        	<a href="/nicaragua" class="project-link">PL NICARAGUA</a>
        	<a href="/venezuela" class="project-link">PL VENEZUELA</a>
        	<a href="/southafrica" class="project-link">PL SOUTH AFRICA</a>
        	<a href="/mexico07" class="project-link">PL MEXICO 2007</a>
        	<a href="/mexico06" class="project-link">PL MEXICO 2006</a><br />
        </div>
    </div>
    <div id="menu-item"><a class="menu-link" href="/contact">CONTACT</a></div>
    </div>

<!-- ABOUT PAGE updated last on 2012-07-24 -->

	<div id="left_col">
    	<img src="/images/layout/about-image.jpg" />
		
        <div id="mission-text-nav">
		<a class="gallery-link active" rel="mission-english" href="javascript:;">English</a>
		<a class="gallery-link active" rel="mission-portuguese" href="javascript:;">Portugu&ecirc;s</a>
		<a class="gallery-link active" rel="mission-spanish" href="javascript:;">Espa&ntilde;ol</a>
		<a class="gallery-link active" rel="mission-french" href="javascript:;">Fran&ccedil;ais</a>
		</div>
        
    	<div id="mission-text-output">
		<div id="mission-english">
        <h2>OUR MISSION</h2>
        <p>The Portable Light Project enables people in the developing world to create and own solar textiles, providing clean energy and light to improve education, health care and sustainable economic development, while strengthening the local craft traditions of diverse cultures and global regions.
        </p>
        
		<p><b>The Portable Light Vision</b><br />Mobility &mdash; on foot, by bicycle, boat, bus or motor scooter &mdash; is a reality of life for one fifth of the world&rsquo;s population that lives without access to electricity, most in extreme poverty.  Portable Light is a distributed, mobile energy infrastructure that provides people in the developing world with the ability to access clean energy and light &mdash; anytime, anywhere. The Project aims to leverage the smallest useful increment of clean energy for its maximum social benefits. Portable Light embeds flexible photovoltaic material, LED lighting and USB power into a portable, rugged solar textile kit that can be created by partner communities using local materials and textile craft traditions.  Through this collaboration process, Portable Light directly benefits local economies by creating jobs for weavers, community sewing groups, tailors and local entrepreneurs, and promotes ownership and stewardship of low carbon, clean energy technology worldwide.
        </p>

		<p><b>How Portable Light Works</b><br />A Portable Light kit includes a textile reflector, a flexible photovoltaic material, a battery case with a USB 2.0 port, and a high-brightness LED light.  Six hours of sunlight fully charges the battery, which can provide over 20 hours of LED light. By day, Portable Light solar textiles harvest energy from the sun to charge USB 2.0 enabled tools, such as cell phones, medical devices and environmental monitors. The ability to charge cell phones enables people to access and benefit from connectivity to mobile wireless technologies that are transforming health care, education, conservation and business practices in the developing world.  At night, renewable white light for reading, tasks and room illumination extends useful time in the evening, creating unprecedented opportunities to study and work.
		</p>
        
        <p><b>Flat-to-Form Design &amp; Manufacturing</b><br />Portable Light photovoltaics are solar nano-materials made in a very efficient, room temperature manufacturing process with very low carbon emissions. With no heavy or breakable glass parts, Portable Light consumes less fossil fuel in production, shipping and transport. Integrated in textiles, bags, and blankets Portable Light solar textiles present new opportunities for harvesting energy with the familiar textile artifacts/ objects of daily life.
        </p>
		
        <p>In an innovative flat-to-form design process, Portable Light solar textiles are designed to unfold from a compact charging footprint to a three-dimensional textile lantern. Supple, durable and lightweight, the material form of Portable Light enables people to shape light and bring light to the task, rather than moving the task to a centralized light source. With kit components, low-carbon manufacturing and locally produced textiles, Portable Light represents a paradigm shift from the mass-produced single-form, hard-plastic industrial design of the 20th century to a soft design process with many possible forms that can be adapted to different needs and available materials.
        </p>
		</div>
        
		<div id="mission-portuguese">
        <h2>NOSSA MISS&Atilde;O</h2>
        <p>Portuguese translation goes here.</p>
		</div>
        
        <div id="mission-spanish">      	
        <h2>NUESTRA MISI&Oacute;N</h2>
        <p>Spanish translation goes here.</p>
		</div>
        
		<div id="mission-french">
        <h2>NOTRE MISSION</h2>
        <p>French translation goes here.</p>
		</div>
        
		</div>

   	</div>

    <div id="right_col">
      <h2>WHO WE ARE</h2>
      <p><b>KVA MATx</b><br />A Boston, MA based multi-disciplinary architecture and design firm headed by principals Sheila Kennedy and Frano Violich.<br /><a href="http://www.kvarch.net/" rel="external">KVA MATx website</a></p>

      <h2>GET INVOLVED!</h2>
	  
		<p><b>Recommend a project partner to work with the Portable Light Team </b><a href="/contact">here.</a></p>      
      
      	<p><b>Help support our current work and research </b><a href="/contact">here.</a></p>
        <p>USB 2.0 environmental monitoring tools for PL mobile energy platform.</p>
		<p>Manufacturing partners for PL low carbon, flat-to-form fabrication and soft case.</p>
		<p>Supply chain partners to up-cycle discarded plastic tarps for PL.</p>
		<p>Software for Soft Optics, Portable Light&rsquo;s lantern light modeling process.</p>
      
      	<p><b>Spread the word about the Portable Light Project</b></p>
	  
      	<!-- FACEBOOK LIKE BUTTON-->
      	<p>on Facebook<br /><div class="fb-like" data-href="http://portablelight.org/" data-send="false" data-layout="button_count" data-width="90" data-show-faces="true"></div></p>
     
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
	  	var js, fjs = d.getElementsByTagName(s)[0];
  		if (d.getElementById(id)) return;
  		js = d.createElement(s); js.id = id;
  		js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
        </script>

		<!-- GOOGLE +1 BUTTON -->
		<p>on Google+<br /><div class="g-plusone" data-href="http://portablelight.org/"></div></p>
        
		<script src="https://apis.google.com/js/plusone.js" type="text/javascript"></script>
		<script type="text/javascript">
 		(function() {
    	var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    	po.src = 'https://apis.google.com/js/plusone.js';
    	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  		})();
		</script>
		
		<!-- LINKEDIN SHARE BUTTON -->
		<p>on LinkedIn<br /><div><script type="IN/Share" data-url="http://portablelight.org/" data-counter="right"></script></div></p>
		
		<script src="http://platform.linkedin.com/in.js" type="text/javascript"></script>
        
		<!-- TWITTER FOLLOW BUTTON -->
        <p>on Twitter<br /><div><a href="https://twitter.com/share" url-data="http://portablelight.org/" class="twitter-share-button" data-lang="en">Tweet</a></div></p>
        
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];
		if(!d.getElementById(id)){js=d.createElement(s);
		js.id=id;
		js.src="https://platform.twitter.com/widgets.js";
		fjs.parentNode.insertBefore(js,fjs);
		}}(document,"script","twitter-wjs");
        </script>
    </div>