    <div id="left_box" >
    	<h2>Empower People.</h2>
    	<div id="slideshow" >
            <img src="/images/layout/pl-contact.jpg" width="700" height="320" />
        	<img src="/images/layout/pl-home.jpg" width="700" height="320" />
            <img src="/images/layout/pl-about.jpg" width="700" height="320" />
            <img src="/images/layout/pl-history.jpg" width="700" height="320" />
            <img src="/images/layout/pl-projects.jpg" width="700" height="320" />
        </div>       
    </div>

    <div id="right_box">
      <h2>The Portable Light Project enables people in the developing world to create and own energy harvesting textiles, providing the benefits of renewable power as an integral part of everyday life.</h2>
      <a href="/about">Learn More</a>
    </div>
    
   	<div id="menu-container">
    <div id="menu-item"><a class="menu-link" href="/">RECENT NEWS</a></div>
    <div id="about"><a class="menu-link" href="/about">ABOUT PL</a><br />
    	<div id="about-list">
            <a class="project-link" href="/about">PL MISSION</a>
            <a class="project-link" href="/history">PL HISTORY</a><br />
        </div>
    </div>
    <div id="menu-item"><a class="menu-link" href="/profiles">PROFILES</a></div>
    <div id="projects"><a class="menu-link" href="/projects">PROJECTS</a><br />
    	<div id="project-list">
        	<a href="/projects" class="project-link">PROJECT MAP</a>
        	<a href="/brazil" class="project-link">PL BRAZIL</a>
        	<a href="/haiti" class="project-link">PL HAITI</a>
        	<a href="/kenya" class="project-link">PL KENYA</a>
        	<a href="/nicaragua" class="project-link">PL NICARAGUA</a>
        	<a href="/venezuela" class="project-link">PL VENEZUELA</a>
        	<a href="/southafrica" class="project-link">PL SOUTH AFRICA</a>
        	<a href="/mexico07" class="project-link">PL MEXICO 2007</a>
        	<a href="/mexico06" class="project-link">PL MEXICO 2006</a><br />
        </div>
    </div>
    <div id="menu-item"><a class="menu-link-active" href="/contact">CONTACT</a></div>
    </div>

<!-- CONTACT PAGE updated last on 2012-07-24 -->

	<div id="left_col">
    	<img src="/images/layout/contact-map.png" />
        <p>Map of our partner locations around the world.</p>
	</div>

    <div id="right_col">
      <h2>CONTACT US</h2>
      <p><b>KVA MATx</b> (Boston, MA, USA)<br />
      <a href="mailto:info@kvarch.net">Email</a> / 
      <a href="http://www.kvarch.net/">Website</a></p>
 
      <p><b>Mass General Hospital</b> (Boston, MA, USA)<br />
      <a href="http://www.massgeneral.org/">Website</a></p>

      <p><b>Linear Technology Corp.</b> (Chelmsford, MA, USA)<br />
      <a href="http://www.linear.com/">Website</a></p>
 
      <p><b>L-Tronics</b> (Waltham, MA, USA)<br />
      <a href="mailto:sales@l-tronics.com">Email</a> / 
      <a href="http://www.l-tronics.com/">Website</a></p>
 
      <p><b>IADB</b> (Washington DC, USA)<br />
      <a href="http://www.iadb.org/">Website</a></p>
 
      <p><b>Centro Huichol</b> (Huejuquilla, Mexico)<br />
      <a href="mailto:cehuichol@hotmail.com">Email</a> / 
      <a href="http://www.centrohuichol.com/">Website</a></p>

      <p><b>Maison de la Naissance</b> (Haiti)<br />
      <a href="mailto:info@maisondenaissance.org">Email</a> / 
      <a href="http://www.maisondenaissance.com/">Website</a></p>

      <p><b>TeleMedicos</b> (Maniapure, Venezuela)<br />

      <p><b>Paso Pacifico</b> (USA &amp; Nicaragua)<br />
      <a href="http://www.pasopacifico.org/">Website</a></p>
 
	  <p><b>Projeto Sa&uacute;de e Alegria</b> (Santeram, Para, Brazil)<br />
      <a href="mailto:psa@saudeealegria.org.br">Email</a> / 
      <a href="http://www.saudeealegria.org.br/">Website</a></p>      

      <p><b>IDEAAS</b> (Porto Alegre, Brazil)<br />
      <a href="http://www.ideaas.org.br/">Website</a></p>   
	  
      <p><b>Coopa-Roca</b> (Rocinha, Rio de Janeiro, Brazil)<br />
      <a href="mailto:coopa-roca@coopa-roca.org.br">Email</a> / 
      <a href="http://www.coopa-roca.org.br/">Website</a></p>      

      <p><b>Luz Port&aacute;tail Brasil</b> (S&atilde;o Paulo, Brazil)<br />
      <a href="mailto:luzportatil@edpbr.com.br">Email</a> / 
      <a href="http://www.luzportatil.com.br/">Website</a></p>      

      <p><b>EDP no Brasil</b> (S&atilde;o Paulo, Brazil)<br />
      <a href="http://www.energiasdobrasil.com.br/energia/">Website</a></p>

	</div>
